@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

.glow {
  box-shadow: 0 0 30px rgba(34, 211, 238, 0.5);
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite;
}


.custom-cursor {
  width: 20px;
  height: 20px;
  background: rgba(34, 211, 238, 0.7);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.8);
}